body{
    margin: 20px;
}
.search-nav{
    display: flex;
}
.search-nav button{
    border-radius:5px;
}
div{
    margin: 10px 0;
}
.favourite{
    display: flex;
    justify-content: space-between;
}
